* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    font-family: Arial, sans-serif;
    text-align: center;
}

main,
section {
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    color: #d63384;
    margin-bottom: 40px;
}

button {
    padding: 18px 35px;
    border: none;
    border-radius: 30px;
    background: #ff69b4;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

.escondido {
    display: none;
}

#carregamento {
    color: white;
}

body.carregando {
    background: black;
}

#titulo-carregamento {
    color: #ff69b4;
}

.barra-container {
    width: 100%;
    height: 25px;
    background: #333;
    border-radius: 20px;
    overflow: hidden;
    margin: 30px 0;
}

#barra {
    width: 0%;
    height: 100%;
    background: #ff69b4;
    transition: width 0.5s;
}

#porcentagem {
    color: white;
    font-size: 1.5rem;
}

#surpresa h1 {
    color: #ff69b4;
}

#surpresa p {
    color: #ff69b4;
    font-size: 1.5rem;
    font-weight: bold;
}

.bolo {
    margin: 40px auto;
    width: 250px;
}

.massa {
    height: 120px;
    background: #b5651d;
    border-radius: 20px 20px 10px 10px;
}

.cobertura {
    width: 250px;
    height: 35px;
    background: #ffb6c1;
    border-radius: 50px;
    position: relative;
    top: 15px;
}

.velas {
    display: flex;
    justify-content: center;
    gap: 25px;
    position: relative;
    z-index: 2;
}

.vela {
    width: 15px;
    height: 60px;
    background: #fff;
    border-radius: 5px;
    position: relative;
}

.chama {
    width: 18px;
    height: 25px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: -1px;
}

.chama.apagada {
    display: none;
}

.chama {
    animation: fogo 0.5s infinite alternate;
}

@keyframes fogo {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

#mensagem {
    color: white;
}

#mensagem h1 {
    color: #ff69b4;
}

#mensagem h2 {
    color: white;
    margin-bottom: 30px;
}

.foto-amigos {
    width: 80%;
    max-width: 350px;
    background: white;
    padding: 15px;
    padding-bottom: 45px;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    margin-bottom: 30px;
    transform: rotate(-3deg);
}

.texto-mensagem {
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
}

.bolo.pequeno {
    transform: scale(0.5);
    margin-top: -50px;
    margin-bottom: -50px;
}

#amigos h2 {
    color: #ff69b4;
    font-size: 1.5rem;
    line-height: 1.5;
}
.varal {
    margin-top: 40px;
}
#amigos button {
    margin-top: 30px;
}

/* VARAL */

#varal-tela h1 {
    color: #ff69b4;
}


.varal {

    margin-top: 50px;

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 50px;

    position: relative;

}


.varal::before {

    content: "";

    width: 100%;

    height: 5px;

    background: #8b5a2b;

    position: absolute;

    top: 0;

    border-radius: 10px;

}


.foto-varal {

    margin-top: 40px;

    width: 220px;

    background: white;

    padding: 15px;

    padding-bottom: 25px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.3);

    transform: rotate(-3deg);

    position: relative;

}


.foto-varal img {

    width: 100%;

    height: 220px;

    object-fit: cover;

}


.foto-varal h3 {

    color: #d63384;

    margin-top: 15px;

}


.foto-varal p {

    color: #333;

    margin-top: 10px;

    font-size: 0.95rem;

}


.pregador {
    width: 30px;
    height: 50px;
    background: #deb887;
    position: absolute;
    top: -35px;
    left: calc(50% - 15px);
    border-radius: 5px;
}