* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

main,
section {
    width: 90%;
    max-width: 600px;
}

h1 {
    font-family: "Great Vibes", cursive;
    font-size: clamp(3rem, 7vw, 5rem);
    color: #b76e79;
    margin-bottom: 40px;
}

button {
    padding: 18px 35px;
    border: none;
    border-radius: 30px;
    background: #e8a0b8;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(183,110,121,0.3);
    transition: 0.3s;
}


button:hover {
    transform: translateY(-3px) scale(1.03);
}

.introducao{
    color:#f5f5f5;
    font-size:1.2rem;
    line-height:1.8;
    margin-bottom:45px;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
}

.escondido {
    display: none;
}

#carregamento {
    color: white;
}

body.carregando {
    background: black;
}

#titulo-carregamento {
    color: #e8a0b8;
}

.barra-container {
    width: 100%;
    height: 25px;
    background: #333;
    border-radius: 20px;
    overflow: hidden;
    margin: 30px 0;
}

#barra {
    width: 0%;
    height: 100%;
    background: #e8a0b8;
    transition: width 0.5s;
}

#porcentagem {
    color: white;
    font-size: 1.5rem;
}

#surpresa h1 {
    color: #e8a0b8;
}

#surpresa p {
    color: #e8a0b8;
    font-size: 1.5rem;
    font-weight: bold;
}

.bolo {
    margin: 40px auto;
    width: 250px;
}

.massa {
    height: 120px;
    background: #d89b6b;
    border-radius: 20px 20px 10px 10px;
}

.cobertura {
    width: 250px;
    height: 45px;
    background: #f2b5c4;
    border-radius: 50px;
    position: relative;
    top: 15px;
}

.velas {
    display: flex;
    justify-content: center;
    gap: 25px;
    position: relative;
    z-index: 2;
}

.vela {
    width: 15px;
    height: 60px;
    background: #fff;
    border-radius: 5px;
    position: relative;
}

.chama {
    width: 18px;
    height: 25px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: -1px;
}

.chama.apagada {
    display: none;
}

.chama {
    animation: fogo 0.5s infinite alternate;
}

@keyframes fogo {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

#mensagem {
    color: white;
}

#mensagem h1 {
    color: #e8a0b8;
}

#mensagem h2 {
    color: white;
    margin-bottom: 30px;
}

.foto-amigos {
    width: 80%;
    max-width: 350px;
    background: #fffaf5;
    padding: 15px;
    padding-bottom: 45px;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    margin-bottom: 30px;
    transform: rotate(-3deg);
}

.texto-mensagem {
    color: white;
    font-size: 1.2rem;
    line-height: 1.6;
}

.bolo.pequeno {
    transform: scale(0.5);
    margin-top: -50px;
    margin-bottom: -50px;
}

#amigos h2 {
    color: #e8a0b8;
    font-size: 1.5rem;
    line-height: 1.5;
}
.varal {
    margin-top: 40px;
}
#amigos button {
    margin-top: 30px;
}

/* VARAL */

#varal-tela h1 {
    color: #e8a0b8;
}


.varal {

    margin-top: 50px;

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 50px;

    position: relative;

}


.varal::before {

    content: "";

    width: 100%;

    height: 5px;

    background: #c49a6c;

    position: absolute;

    top: 0;

    border-radius: 10px;

}


.foto-varal {

    margin-top: 40px;

    width: 220px;

    background: #fffaf5;

    padding: 15px;

    padding-bottom: 25px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.3);

    transform: rotate(-3deg);

    position: relative;

}


.foto-varal img {

    width: 100%;

    height: 220px;

    object-fit: cover;

}


.foto-varal h3 {

    color: #b76e79;

    margin-top: 15px;

}


.foto-varal p {

    color: #333;

    margin-top: 10px;

    font-size: 0.95rem;

}


.pregador {
    width: 30px;
    height: 50px;
    background: #deb887;
    position: absolute;
    top: -35px;
    left: calc(50% - 15px);
    border-radius: 5px;
}

#final {
    animation: aparecer 1s;
}

.texto-final {
    color: white;
    font-size: 1.3rem;
    line-height: 1.8;
    margin-top: 30px;
}

.nomes {
    margin-top: 40px;
    color: #e8a0b8;
    font-size: 1.2rem;
    font-weight: bold;
}

.assinatura {
    margin-top: 40px;
    color: #bbbbbb;
    font-size: 0.95rem;
    font-style: italic;
    opacity: 0.8;
}

section,
main {
    animation: aparecer 0.8s ease;
}
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#confetes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
}

.confete {
    position: absolute;
    width: 10px;
    height: 20px;
    background: #e8a0b8;
    top: -20px;
    animation: cair 3s linear infinite;
}

@keyframes cair {
    from {
        transform: translateY(0) rotate(0deg);
    }
    to {
        transform: translateY(110vh) rotate(720deg);
    }
}

#reiniciar{
    margin-top:40px;
    opacity:0;
    transition:0.6s;
}

#reiniciar.mostrar{
    opacity:1;
}

.estrelas{
    position:fixed;
    inset:0;
    pointer-events:none;
    overflow:hidden;
    z-index:-1;
}


.estrela{
    position:absolute;
    width:6px;
    height:6px;
    background:#fff5c7;
    border-radius:50%;
    animation:brilhar 3s infinite;
}

@keyframes brilhar{
    0%{
        opacity:0;
        transform:scale(0);
    }
    50%{
        opacity:1;
        transform:scale(1);
    }
    100%{
        opacity:0;
        transform:scale(0);
    }
}

.foto-varal{
    opacity:0;
    animation:
        aparecerFoto 0.8s ease forwards,
        balancar 4s ease-in-out infinite;
    transform-origin: top center;
}   

@keyframes aparecerFoto{
    from{
        opacity:0;
        transform:translateY(40px) rotate(-3deg);
    }
    to{
        opacity:1;
        transform:translateY(0) rotate(-3deg);
    }
}

.foto-varal:nth-child(1){
    animation-delay:0.2s;
}
.foto-varal:nth-child(2){
    animation-delay:0.5s;
}
.foto-varal:nth-child(3){
    animation-delay:0.8s;
}
.foto-varal:nth-child(4){
    animation-delay:1.1s;
}
.foto-varal:nth-child(5){
    animation-delay:1.4s;
}
.foto-varal:nth-child(6){
    animation-delay:1.7s;
}
.foto-varal:nth-child(7){
    animation-delay:2s;
}
.foto-varal:nth-child(8){
    animation-delay:2.3s;
}

@keyframes balancar{
    0%{
        transform:rotate(-3deg);
    }
    50%{
        transform:rotate(3deg);
    }
    100%{
        transform:rotate(-3deg);
    }
}

.dica-easter{
    margin-top:35px;
    color:#bfbfbf;
    font-size:0.95rem;
    opacity:.65;
    font-style:italic;
    transition:.3s;
}

.dica-easter:hover{
    opacity:1;
}

.dica-easter span{
    display:block;
    margin-top:8px;
    font-size:.75rem;
    color:#888;
}

#coracao-secreto{
    cursor:pointer;
    transition:.25s;
}

#coracao-secreto:hover{
    transform:scale(1.3);
    filter:drop-shadow(0 0 8px #ff7eb6);
}

#barra-easter{
    width:0%;
    height:100%;
    background:#e8a0b8;
    transition:width .25s linear;
    border-radius:20px;
}

#porcentagem-easter{
    color:white;
    font-size:1.5rem;
    margin-top:20px;
}

#easter-egg{
    color:white;
}

#texto-easter{
    font-size:1.3rem;
    color:#e8a0b8;
}

#fotos-secretas{
    color:white;
}


.texto-secreto{
    font-size:1.3rem;
    line-height:1.6;
    margin-bottom:20px;
}

.aviso-secreto{
    color:#e8a0b8;
    font-style:italic;
    margin-bottom:40px;
}

.galeria-secreta{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}

.galeria-secreta img{
    width:220px;
    height:220px;
    object-fit:cover;
    background:#fffaf5;
    padding:12px;
    box-shadow:0 10px 20px rgba(0,0,0,0.4);
    transform:rotate(-3deg);
    transition:.3s;
}

.galeria-secreta img:hover{
    transform:rotate(3deg) scale(1.08);
}

.final-secreto{
    margin-top:50px;
    color:#e8a0b8;
    font-size:1.2rem;
}

.galeria-secreta img{
    display:none;
}

.galeria-secreta img.aparecer{
    display:block;
    animation: aparecerFotoSecreta 1s ease;
}

#texto-arquivo{
    color:#e8a0b8;
    font-size:1.4rem;
    margin:30px;
}

@keyframes aparecerFotoSecreta{
    from{
        opacity:0;
        transform:scale(0.5) rotate(-10deg);
    }
    to{
        opacity:1;
        transform:scale(1) rotate(-3deg);
    }
}

#coracao-secreto{
    display:inline-block;
    cursor:pointer;
    transition:.25s;
}

#coracao-secreto.ativado{
    animation: descobrir .8s ease;
}

@keyframes descobrir{
    0%{
        transform:scale(1);
    }
    20%{
        transform:scale(1.6);
        filter:drop-shadow(0 0 15px #ff80bf);
    }
    40%{
        transform:scale(.9);
    }
    60%{
        transform:scale(1.25);
    }
    100%{
        transform:scale(1);
        filter:drop-shadow(0 0 10px #ff80bf);
    }
}